[id^="topnav"] {float: none}
[id^="topnav"] .sub {width: 100% !important;}
.sub, .col {display: block}
#Breadcrumbs {/*height: 2.75rem;*/ /*text-indent: -99999px;*/ display: block; margin: 46px 0 0}
[type="text"] {border-radius: 0}

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	*zoom: 1; /* Für den IE6 und IE7 */
}


/* Mobiles (tablets & smartphones)
http://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions */
@media only screen and (max-device-width: 1024px) {
	.header-balken-blau, #Header .Direktbestellung, .Sortiert-nach, .Seiten-blaettern a:last-child, #SuchButton span, .PUES-Hauptkategorie .pure-toggle-label[data-toggle-label='left-bottom'] {display: none !important}

	/* Size adjustements */
	.col1, .col2, .col3, .Sidebar, .Checkout .Sidebar .Teaser, .Grid-System .Grid-1-5, .Grid-System .Grid-1-8, .Grid-System .Grid-1-5-last, .Grid-System .Grid-1-4, .Ein-Spalter .Grid6, .Sidebar-left, .Sidebar-right, .Direktverkauf .Content .Grid-last, .Grid-1-3, .Inventarketiketten-Designer .col-left, .Inventarketiketten-Designer .col-right-1, .Inventarketiketten-Designer .col-right-2, .Newsletter-Anforderung .article-Newsletter-Abo-Downloads .Grid-1-3 {width: 32.5%;}
	.col4, .Grid-1-3, .Inventarketiketten-Designer .col-left, .Inventarketiketten-Designer .col-right-1, .Inventarketiketten-Designer .col-right-2, .Newsletter-Anforderung .article-Newsletter-Abo-Downloads .Grid-1-3, .col5, .col7, .col8, .Teaser-Vorteile-bei-SETON-bvh, .Teaser-Spar-Angebote, .Teaser-Katalog, .Grid-System .Grid-2-5, .Zwei-Spalter-Sidebar-left .Grid-System .Grid6, .Zwei-Spalter-Sidebar-right .Grid-System .Grid6, .Grid-System .Grid-1-2, .ASR-Teaser p, .Grid-System .Grid-3-5, .Grid-System .Grid-2-3, .Zwei-Spalter-Sidebar-left .Grid-System .Grid8, .Zwei-Spalter-Sidebar-right .Grid-System .Grid8, .Auflistung-Unterkategorien li, .Grid-System .Grid-1-4, .Ein-Spalter .Grid6, .Sidebar-left, .Sidebar-right {width: 49.37%;/* margin: 0 0 1.25rem 0; */}
	body, .col9, .col10, .col11, .col12, .Zwei-Spalter-Sidebar-left .Content, #PDS-Content, .Ein-Spalter .Grid18, #Avail-Hauptkategorie-Kunden-kauften-2, #Avail-Kategorie-Topseller-2, .Checkout .Content, .PDS aside, .Checkout aside {width: 100%; margin-left: 0}
	.Checkout .col9 {width: 74.68%}
	.PDS .col8 {width: 66.25%}
	.Grid-System-Sitemap .col3 {width: 24.06%; max-height: 225px}
	.cc-slider.items-9 .item {width: 3.33%}
	.Content {padding: 0 1.25%}
	.Drei-Spalter .Content {margin: 0 0 1.25rem 0; padding: 0 1.25%}
	.PDS aside, .Checkout aside {padding: 0 1.25% 0}
	.Checkout aside .Teaser {float: left; margin: 0 0 1.25rem 1.25%}

	.PUES .grid-view .item {min-height: 280px}
	.grid-view .Artikeldetails {flex-direction: column; align-items: center}
	.list.categories.buttons .item .Bild, #cc_slider_home_page_top_seller .Bild, #cc_slider_home_page_new_products .Bild, #cc-slider-hp-topseller .Bild, #cc-slider-hp-Neuheiten .Bild, #cc-slider-lsp .Bild {height: 130px;}
	.Logo {width: 30%}

	.grid-view .item:nth-child(3n+4) {border-top: 1px solid #ccc}
	.grid-view .product-list-item-left {position: relative; text-align: center; margin: .5rem 0}
	.items-2, #Ostereiersuche, .PUES .grid-view .item {margin: 0}
	.Artikelsuche {margin: 0 10px 0}

	#Header .Warenkorb button {width: inherit; height: 2.25rem}
	.Checkout aside .Teaser:first-child, .Grid-System-Social-Media .col4:first-child {margin-left: 0}
	#Ostereiersuche {position: relative; left: 0; top: 0}

	.Grid-System-Social-Media .col4 {width: 32.5%; margin: 0 0 .75rem 1.25%}
	.pure-toggle-label[data-toggle-label="left"], .PUES .pure-toggle-label.data-icon {display: block; font-size: 2.5em}
	.pure-toggle-label.bottom {}
	.PUES-Landingpage .pure-toggle-label[data-toggle-label='left-bottom'] {display: none}

	#Header {height: 2.75rem; background-color: #fff; position: fixed; top: 0; z-index:90; border-bottom: 1px solid #ccc}
	.Logo {margin: .5rem 0 .5rem 3.5rem; overflow: hidden; width: 2rem; height: 2rem}
	.Logo img {max-width: 175px}
	#Header .Artikelsuche {width: 65%; margin: .15rem 0 0 5%}
	.suggestEntry td {width: 210px}
	.Warenkorb {top: .25rem;}
	aside.pure-drawer {padding: 0 .5rem}
	aside li a {display: block; height: 2.5rem; padding: .35rem .5rem .3rem .75rem}
	.Filter {height: auto !important}
	.Filter li a {display: inline-block}
	.Homepage .Avail .item {width: 130px}

	nav.pure-drawer[data-position="left"], aside.pure-drawer[data-position="left-bottom"], aside.pure-drawer[data-position="right-bottom"] {z-index: 120; margin: 2.75rem 0; max-width: 400px; width: 100%;top: 0}
	aside.pure-drawer[data-position="left-bottom"], aside.pure-drawer[data-position="right-bottom"] {border-bottom: 4rem solid #fff}
	aside.pure-drawer[data-position="right-bottom"] {left: auto; right: 0}
	.PUES #asideBackground {position: fixed; bottom: 0; background-color: #fff; height: 2.75rem; width: 100%; border-top: 1px solid #ccc;z-index: 1;}
	.nav-pri {background-color: #0061a0; z-index:80; position:relative }
	aside.pure-drawer {background-color: #fff}

	/* Navigation */
	nav {-webkit-overflow-scrolling: touch}
	.nav-pri > ul > li, .sub, .col, #topnavSale, #topnavdirectOrder, nav .Hotline {/* float: left; */width: 100%;/* background-image: none; *//* padding: 0; */}
	.sub, .nav-third {border: 0 none; position: initial; visibility: hidden; opacity: 0; max-height: 0; -ms-transition: opacity .25s ease-out .25s, max-height .5s ease-out; transition: opacity .25s ease-out .25s, max-height .5s ease-out}
	li:hover > .sub, li:focus > .sub, li:hover > .nav-third, li:focus > .nav-third {visibility: visible; opacity: 1; max-height: 2000px; -ms-transition: opacity .25s ease-in, max-height .5s ease-in; transition: opacity .25s ease-in, max-height .5s ease-in}
	.nav-pri [id^="topnav"] > a {border: 0 none; border-top: 1px solid #ccc}
	#topnav4 .sub, #topnav7 .sub {/* left: 0 */}
	#neue-aktion-hinweis { display: none; font-size: 12px; font-weight: bold; color: white; position: absolute; background: red; height: 14px; width: 14px; top: 264px; left: 40px;}
	#neue-aktion-hinweis span {position: absolute; top: -12px; right: 4px;}
	[id^="sub"] > a {padding: .75rem .5rem .4rem 1rem;display: block;margin: 0;height: 2rem;}
	nav a:hover {padding-right:3rem}
	.subnav .Titel:after {content: "\33";position: absolute;font-size: 1.25rem;left: -.05em;}
	.subnav .Titel:hover:after, .subnav .Titel:focus:after, .subnav .Titel:active:after {-ms-transform: rotate(180deg); transform: rotate(180deg);margin-right: -3rem;}
	.col-Themen {background-color: #eee; border-top: 1px solid #ccc}
	.Thema {padding: .75rem .5rem .4rem 1rem}
	.Thema-Name a, .Thema p, .Thema .PfeilLink {padding: 0; margin: 0}
	.Thema .PfeilLink {display: inline-block}
	.nav-third li:before {content: ""; display: none}

	nav .Hotline, #topnavdirectOrder {display: block;padding: 0;}
	nav .Hotline a {border-top: 1px dashed}
	nav .Hotline a {color: #fff;/* display: block; */height: 2.5rem;font-size: 1.5rem;padding: .75rem .5rem .3rem .75rem;}
	nav .Hotline a:before {margin: 0 .5rem 0 0; font-size: 1.25rem}

	/* Check Out */
	.Checkout-Adresseingabe .pure-toggle-label[data-toggle-label='left'], .Checkout-Check-and-Send .pure-toggle-label[data-toggle-label='left'] {display: none}
	.Kopfnavigation {width: 100%; position: fixed; top: 0;height: 2.75rem; z-index: 100;left: 3.5rem;line-height: 2.75rem;margin: 0}
	.Schritt-1-Adresseingabe {width: 47%}
	.Schritt-1-Adresseingabe:after {width: 2rem; height: 2rem}
	.Schritt-2-Bestellung-pruefen .Zahl {margin-left: .5rem}
	.Text {font-size: inherit}
	.Checkout-Adresseingabe .Logo, .Checkout-Check-and-Send .Logo {margin-left: .25rem;}
	.Kopfnavigation {left: 2.5rem}
	.Checkout .col8 {width: 66.25%; margin-left: 1.25%}
	.Checkout .col3 {width: 24.06%}
	.Checkout .col3 + .col3 {margin-left: 1.25%}
	.Checkout .col2 {width: 15.62%}

	/* Container */
	.pure-container {/* position: relative; *//* height: 100%; *//*-webkit-overflow-scrolling: touch;*/}

	/* Toggler */
	.pure-toggle {left: -9999px; position: absolute; top: -9999px}
	.pure-toggle:focus ~ .pure-toggle-label {/* border-color: #1fc08e; */ /* color: #1fc08e; */}
	.pure-toggle-label {cursor: pointer; position: fixed; top: .35rem; z-index: 199; color: #5d809d; width: 2rem; height: 2rem; transition: all 400ms ease-in-out; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
	.pure-toggle-label.bottom {top: auto; bottom: 0rem}
	.pure-toggle-label:hover {/* border-color: #1fc08e; */ /* color: #1fc08e; */}
	.pure-toggle-label:hover .pure-toggle-icon, .pure-toggle-label:hover .pure-toggle-icon:before, .pure-toggle-label:hover .pure-toggle-icon:after {/* background-color: #1fc08e; */}
	.pure-toggle-label:active {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
	.pure-toggle-label .pure-toggle-icon, .pure-toggle-label .pure-toggle-icon:before, .pure-toggle-label .pure-toggle-icon:after {position: absolute; top: 50%; height: .2rem; width: inherit; cursor: pointer; background: #5d809d; display: block; content: ''; transition: all 500ms ease-in-out}
	.pure-toggle-label .pure-toggle-icon:before {transform: translate3d(0, -.75rem, 0)}
	.pure-toggle-label .pure-toggle-icon:after {transform: translate3d(0, .6rem, 0)}
	.pure-toggle-label[data-toggle-label='left'], .pure-toggle-label[data-toggle-label='left-bottom'] {left: 1.25%; right: auto}
	.pure-toggle-label[data-toggle-label='right'], .pure-toggle-label[data-toggle-label='right-bottom'] {right: 1rem; left: auto}
	.pure-toggle-label[data-toggle-label='top'] {left: 50%; transform: translate3d(-50%, 0, 0)}
	.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label:not([data-toggle-label='left']), .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label:not([data-toggle-label='right']), .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label:not([data-toggle-label='top']), .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-toggle-label:not([data-toggle-label='left-bottom']), .pure-toggle[data-toggle='right-bottom']:checked ~ .pure-toggle-label:not([data-toggle-label='right-bottom']) {opacity: 0; z-index: -1}
	.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'], .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'], .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'], .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-toggle-label[data-toggle-label='left-bottom'] {border-color: #1fc08e; color: #1fc08e}
	.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon, .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-toggle-label[data-toggle-label='left-bottom'] .pure-toggle-icon {background-color: transparent}
	.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:before, .pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:after, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:before, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:after, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:before, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:after, .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-toggle-label[data-toggle-label='left-bottom'] .pure-toggle-icon:before {top: 0}
	.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:before, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:before, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:before, .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-toggle-label[data-toggle-label='left-bottom'] .pure-toggle-icon:before, .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-toggle-label[data-toggle-label='left-bottom'] .pure-toggle-icon:before {transform: translateX(0) rotate(45deg); -webkit-transform: translateX(0) rotate(45deg)}

	/* Pusher Container */
	.pure-pusher-container {position: relative; height: 100%; overflow: hidden}

	/* Pusher */
	.pure-pusher {position: relative; height: 100%; overflow-y: auto; left: 0; z-index: 2; background-color: #fff; transition-property: transform; transition-duration: 500ms; transition-timing-function: ease-out}

	/* Pusher Overlay */
	.pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'], .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-overlay[data-overlay='left-bottom'] {left: 100%;}

	.pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'], .pure-toggle[data-toggle='right-bottom']:checked ~ .pure-overlay[data-overlay='right'], .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-overlay[data-overlay='left'] {width: 100%; height: 100%; opacity: 1;z-index: 80;}
	.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:after, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:after, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:after, .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-toggle-label[data-toggle-label='left-bottom'] .pure-toggle-icon:after {transform: translateX(0) translateY(-10px) rotate(-45deg); -webkit-transform: translateX(0) translateY(-10px) rotate(-45deg); top: 10px}

	/* Drawer */
	.pure-drawer {position: fixed; z-index: 101; height: 95%; visibility: hidden;  transition-property: all; transition-duration: 500ms; transition-timing-function: ease-out;

	/* Breaks animation recognition or whatever else cuases click instead of hover
	figure 6.4: https://developer.apple.com/library/mac/documentation/AppleApplications/Reference/SafariWebContent/HandlingEvents/HandlingEvents.html */
	overflow-y: scroll; /* Incompatible with overflow scroll */
	/* -webkit-overflow-scrolling: touch; */}

	/* Effect - Fade */
	/* DRAWER */
	[data-effect="pure-effect-fade"] .pure-drawer {z-index: 103; -webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both}
	[data-effect="pure-effect-fade"] .pure-toggle[data-toggle='left']:checked ~ .pure-drawer[data-position='left'], [data-effect="pure-effect-fade"] .pure-toggle[data-toggle='right']:checked ~ .pure-drawer[data-position='right'], [data-effect="pure-effect-fade"] .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-drawer[data-position='left-bottom'], [data-effect="pure-effect-fade"] .pure-toggle[data-toggle='right-bottom']:checked ~ .pure-drawer[data-position='right-bottom'] {visibility: visible}
	.pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'], .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-overlay[data-overlay='left-bottom'] {left: 0;}

	/* OVERLAY */
	.pure-overlay {position: fixed; top: 0; bottom: 0; right: 0;width: 0;height: 0; opacity: 0;visibility: hidden;background-color: rgba(255,255,255,.5);transition: opacity .25s ease-in .25s, visibility .25s ease-in .25s; z-index:-1}
	[data-effect="pure-effect-fade"] .pure-overlay {transition-duration: 1000ms; transition-delay: 500ms}

	@-webkit-keyframes fadeInLeft { 0% { opacity: 0; transform: translate3d(-100%, 0, 0)}
		100% {	opacity: 1; transform: none} }

	@keyframes fadeInLeft { 0% { opacity: 0; transform: translate3d(-100%, 0, 0)}
		100% {	opacity: 1; transform: none} }

	.fadeInLeft, [data-effect="pure-effect-fade"] .pure-toggle[data-toggle="left"]:checked ~ .pure-drawer[data-position="left"], [data-effect="pure-effect-fade"] .pure-toggle[data-toggle="left-bottom"]:checked ~ .pure-drawer[data-position="left-bottom"] {animation-name: fadeInLeft}
	@-webkit-keyframes fadeOutLeft { 0% { opacity: 1}
		100% {	opacity: 0; transform: translate3d(-100%, 0, 0)} }

	@keyframes fadeOutLeft { 0% { opacity: 1}
		100% {	opacity: 0; transform: translate3d(-100%, 0, 0)} }

	.fadeOutLeft, [data-effect="pure-effect-fade"] .pure-drawer[data-position='left'], [data-effect="pure-effect-fade"] .pure-drawer[data-position='left-bottom'] {animation-name: fadeOutLeft}
	@-webkit-keyframes fadeInRight { 0% { opacity: 0; transform: translate3d(100%, 0, 0)}
		100% {	opacity: 1; transform: none} }

	@keyframes fadeInRight { 0% { opacity: 0; transform: translate3d(100%, 0, 0)}
		100% {	opacity: 1; transform: none} }

	.fadeInRight, [data-effect="pure-effect-fade"] .pure-toggle[data-toggle='right']:checked ~ .pure-drawer[data-position='right'], [data-effect="pure-effect-fade"] .pure-toggle[data-toggle='right-bottom']:checked ~ .pure-drawer[data-position='right-bottom'] {animation-name: fadeInRight}
	@-webkit-keyframes fadeOutRight { 0% { opacity: 1}
		100% {	opacity: 0; transform: translate3d(100%, 0, 0)} }

	@keyframes fadeOutRight { 0% { opacity: 1}
		100% {	opacity: 0; transform: translate3d(100%, 0, 0)} }

	.fadeOutRight, [data-effect="pure-effect-fade"] .pure-drawer[data-position='right'], [data-effect="pure-effect-fade"] .pure-drawer[data-position='right-bottom'] {animation-name: fadeOutRight} }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
	.Homepage .col9 {width: 74.68%}
	.Homepage .Teaser-Vorteile-bei-SETON-bvh {height: 250px}
	.PDS .article-Dropdowns, .Produktergebnis,	.article-PDS-Produktbilder {width: 32.5%}
	.Produktergebnis {margin-left: 1.25%}
	.Homepage .Teaser-Vorteile-bei-SETON-bvh, .Homepage .Content .col3 {width: 24.06%}
	.Teaser-Vorteile-bei-SETON-bvh {margin-left: 1.25%}
	.Homepage .Content .Teaser-Spar-Angebote {margin-left: 0} }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
	.Homepage .Content .Teaser-Individuell-gestalten {margin-left: 0} }

@media only screen and (max-device-width: 767px) {
	.disable-mobil {display: none !important}
	#neue-aktion-hinweis {font-size: 10px; height: 12px; width: 12px;}
	#neue-aktion-hinweis span {top: -4px;}
	 }

/* Mobiles portrait */
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
	.article-Dropdowns {width: 66.25%}
	.Designcode-Artikelauswahl .royalSlider {height: 335px; width: 100%}

	/* PDS */
	.produkt-name > :nth-child(2) {flex-basis: 30%}
	.produkt-name > :nth-child(3) {flex-basis: 100%; order: 2}
	.produkt-name span[data-product] {flex-basis: 100%}
	.produkt-name [id^="Preis-Block"] span {display: inline-block}
	span[data-product][data-category]:before {display: inline-block; width: 30%}
	.produkt-name > :last-child {flex-basis: 70%; order: 1} }

@media only screen and (max-device-width: 768px) and (orientation: portrait), (max-device-width: 667px) {
	.Hauptkategorie-Text {width: 100%}
	.Teaser-Vorteile-bei-SETON-bvh ul, .Teaser-Spar-Angebote p {float: left; max-width: 55%}
	.Trusted-Shop-Kundenbewertung {width: 38%; float: right}
	.Homepage .Content .Teaser-Katalog {margin-left: 1.25%}
	.Teaser-Individuell-gestalten, .Teaser-Vorteile-bei-SETON-bvh {margin-left: 0}
	.Produktergebnis {width: 100%; margin: 0 0 1rem}
	.Produktergebnis-inner, .Preisstaffel {width: 49.37%; box-sizing: border-box; float: left; clear: none} }

/* Smartphones portrait*/
@media only screen and (max-device-width: 667px) and (orientation: portrait) {
	.Zwei-Spalter-Sidebar-left .Content, .Zwei-Spalter-Sidebar-right .Content, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .PDS .col8, .Grid-System-Social-Media .col4, .Checkout .Sidebar .Teaser, .Abrechnung, .Grid-System [class*="Grid"], #Avail-Hauptkategorie-Kunden-kauften-2, #Avail-Kategorie-Topseller-2, .Checkout .Teaser-Vorteilsnummer {margin: 0 0 1.25rem 0; width: 100%}
	.Checkout .col8 {width: 74.68%}
	.PUES .grid-view .item, .Menge, .Preisbox, .Checkout .col3 {width: 49.37%}
	.Homepage .Content .Teaser-Katalog {margin-left: 0}
	.Schritt-1-Adresseingabe {width: 40%;}
	.Checkout .col2 {width: 24.06%}
	.Homepage .royalSlider {height: 105px}
	.Checkout .Content {padding: 0 1.25%;}
	.Grid-System-Social-Media .col4 {border: 0 none; border-bottom: 1px solid #ccc}
	.grid-view .item:nth-child(2n) {border-right: 0 none}
	.grid-view .item:nth-child(-n+2) {border-top: 0 none}
	.grid-view .item:nth-child(3n+3) {border-top: 1px solid #ccc}
	.Checkout .Produkttabelle th {display: none}
	.Checkout .Produkttabelle td {display: block}
	.Checkout .Produkttabelle td:before {content: attr(data-th) ": "; font-weight: bold;width: 39%; display: inline-block; vertical-align: top; height: 100%}
	.Checkout .Produkttabelle .Bild {width: 30%; display: inline-block}
	.Checkout .Produkttabelle .Produktinfo {width: 60%; display: inline-block}
	.Checkout .Produkttabelle td:nth-child(-n+2):before {display: none}
	.Adresseingabe textarea {width: 100%; max-height: 300px}
	.Checkout-Adresseingabe .Adresseingabe label, .Checkout .Hinweis {width: 100%; top: -1rem;}
	.Adresseingabe button {margin: 0;}
	.Checkout-Adresseingabe .Adresseingabe [type="text"], .Checkout .Adresseingabe [type="tel"], .Checkout .Adresseingabe [type="email"] {width: 100%;}
	.Adresseingabe .Eingabefeld-PLZ, .Checkout .Adresseingabe .Eingabefeld-PLZ[type="text"] {width: 19.5%}
	.feefo-stars-rahmen { margin-left: 80px; }
	.feefo-stars-rahmen-liste { margin-left: 190px; } }

/* iPhone 5 & 6 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px) and (max-device-width: 667px) {
	p {font-size: .75rem}
	#Header .icon_cart_alt:before {margin: 0 0 0 .5rem}
	#WKPosHead {float: left}
	.WKArtikel, #WKBetragHead {display: none}
	#cc-slider-lsp .item {width: 33.3%}
	.Designcode-Artikelauswahl-Quittung .cc-slider[class*="items-"] .item {width: 3.33%}
	.cc-slider.items-4 .item, .cc-slider.items-3 .item {width: 5%}
	#Service a {width: 50%}
	.tooltips .tooltip {position: fixed; bottom: 0; width: 100%; margin: 0; border-left: 0 none; border-right: 0 none}
	.cc-slides .item:nth-child(3n) {border: 0 none}
	#cc-slider-lsp .item:nth-child(3n+1) {clear: both}
	#cc-slider-lsp .item:nth-child(-n+3) {border-top: 0 none}
	#cc-slider-lsp .item {border-top: 1px solid #ccc}
	.feefo-stars-rahmen { margin-left: 80px; }
	.feefo-stars-rahmen-liste { margin-left: 190px; } }

/* Tablet portrait = iPhone 5 & 6 landscape */
@media only screen and (min-width:768px) and (max-device-width: 1024px) and (orientation: portrait), (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) {
	#Header .Artikelsuche {width: 55%}
	#cc_slider_category_page_customers_choice {width: 100%}
	#cc_slider_category_page_customers_choice .item, .cc-slider.items-4 .item {width: 3.33%}
	.Designcode-Artikelauswahl .Drucken, #socialshareprivacy {float: none; display: inline-block; vertical-align: top}
	#Service, .PDS #Crosslink, #AehnlicheArtikel, #WeitereArtikel, #cc_slider_item_page_similar_products, #cc_slider_item_page_customers_choice {width: 49.37%; float: left}
	#cc_slider_item_page_similar_products {clear: both}
	#WKBetragHead {display: inline-block}
	.PUES .grid-view .item {width: 33.3%}
	.grid-view .item:nth-child(3n) {border-right: 0 none}
	.PDS .col8, .article-Dropdowns {width: 49.37%}
	.Grid-System-Sitemap .col3 {width: 49.37%; max-height: 225px}
	.Grid-System-Sitemap .col3:nth-child(3) {margin-left: 0} }

/* iPhone 5 & 6 landscape fallbacks */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) {
	.Homepage .Teaser-Newsletter img, .Homepage .Teaser-Individuell-gestalten img {width: 40%;right: .25rem;top: 2rem;}
	.Teaser-Newsletter .Eingabefeld {max-width: 70%}
}

/* iPhone 6+ strict landscape */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {
	.Homepage .royalSlider {height: 240px}
}

/* iPhone 6 strict landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.Homepage .royalSlider {height: 221px}
	/*.Designcode-Artikelauswahl .rsFullscreen .rsOverflow {min-height: 325px !important;} */}

/* iPhone 5 strict landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
	#Header .Artikelsuche {width: 50%}
	.Homepage .royalSlider {height: 185px}
	/*.Designcode-Artikelauswahl .rsFullscreen .rsOverflow {min-height: 275px !important} */}

/* iPhone 5 and 6 portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait), (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
	.Produktergebnis-inner, .Preisstaffel, .Grid-System-Sitemap .col3 {width: 100%}
	.Grid-System-Sitemap li {width: 48.5%; display: inline-block; white-space: pre-line} }

/* iPhone 5 strict portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (device-aspect-ratio: 40/71) {
	#Header .Artikelsuche {width: 45%; margin-left: 2.5%}
	.Homepage .royalSlider {height: 105px} }

/* iPhone 6 strict portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	#Header .Artikelsuche {width: 55%; margin-left: 1.5%}
	#suggestContainer {top: 2.5rem}
	.Homepage .royalSlider {height: 124px} }

/* iPhone 6+ strict portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (device-width : 414px) and (device-height : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {
	.Homepage .royalSlider {height: 136px}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	.Homepage .royalSlider {height: 210px}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.Homepage .royalSlider {height: 120px}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {.pure-drawer {/* height: 100%; */ /* overflow-y: scroll; */} }

.pure-drawer[data-position='right'] {left: auto; right: 0}
.pure-drawer[data-position='top'] {height: 100%; width: 100%}

@media only screen and (min-width:40.063rem) {.pure-drawer[data-position='top'] {height: 100%} }
@media only screen and (min-width:64.063rem) {.pure-drawer[data-position='top'] {height: 100px} }

@media only screen and (min-width:40.063rem) { }
@media only screen and (min-width:64.063rem) {.pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'], .pure-toggle[data-toggle='left-bottom']:checked ~ .pure-overlay[data-overlay='left-bottom'] {left: 300px} }
.pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'], .pure-toggle[data-toggle='right-bottom']:checked ~ .pure-overlay[data-overlay='right-bottom'] {right: 100%}
@media only screen and (min-width:40.063rem) {.pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'], .pure-toggle[data-toggle='right-bottom']:checked ~ .pure-overlay[data-overlay='right-bottom'] {right: 300px} }
@media only screen and (min-width:64.063rem) {.pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'], .pure-toggle[data-toggle='right-bottom']:checked ~ .pure-overlay[data-overlay='right-bottom'] {right: 300px} }
.pure-toggle[data-toggle='top']:checked ~ .pure-overlay[data-overlay='top'] {top: 100%}
@media only screen and (min-width:40.063rem) {.pure-toggle[data-toggle='top']:checked ~ .pure-overlay[data-overlay='top'] {top: 100%} }
@media only screen and (min-width:64.063rem) {
	.pure-toggle[data-toggle='top']:checked ~ .pure-overlay[data-overlay='top'] {top: 100px} }
